<div class="container">
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span ng-bind="user.fullName" class="h5"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    Are you creative?
                    <input type="checkbox" ng-model="profile.creative">
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    Are you willing to work overtime?
                    <input type="checkbox" ng-model="profile.overtimeWork">
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    Are you analitical?
                    <input type="checkbox" ng-model="profile.analitical">
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    Are you a multitasker?
                    <input type="checkbox" ng-model="profile.multitasking">
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    Are you a teamplayer?
                    <input type="checkbox" ng-model="profile.teamwork">
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    How much work experience do you have?
                    <select ng-model="profile.workExperience">
                        <option ng-repeat="workExperience in workExperienceOptions track by $index" value="{{workExperience}}">{{workExperience}}</option>
                    </select>
                    years.
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="text-center">
                <span class="span4">
                    <button class="btn btn-default" ng-click="save()">Save</button>
                </span>
            </div>
        </div>
    </div>
</div>
